
/* This file was created to resolve a missing file error. */
/* You can add your custom global styles here. */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
